<!--
    footer.ejs
    Santiago Felipe Carreño Pardo
    301283698
    09/28/2023
-->
<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Bottom Nav -->
<footer>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <h6 class="display-6 navbar-text" style="font-size: large;">&copy; Copyright 2023. All Rights reserved.</h6>
    </nav>
  </footer>
</body>
</html>