<!--
    services.ejs
    Santiago Felipe Carreño Pardo
    301283698
    09/28/2023
-->
<!-- Header Section-->
<%- include ('./partials/header.ejs') %>
  <!-- Imports stylesheet for this page-->
  <link rel='stylesheet' href='/Content/css/services.css' />

  <!-- Main Section-->
  <main class="container">
    <!--VR apps development-->
    <div class="serviceBox">
      <!--Image-->
      <div class="serviceImage">
        <img src="/Assets/Images/VRDevelopment.jpg">
      </div>
      <!--Description-->
      <div class="serviceInfo">
        <h1 style="width: 100%;">VR Apps</h1>
        <br>
        <p>
          I create personalized VR applications meeting specific needs, I have created simulators
          for various industries such as medicine, construction, maintenance, among others.
        </p>
      </div>
    </div>

    <!--UI Development-->
    <div class="serviceBox">
      <!--Image-->
      <div class="serviceImage">
        <img src="/Assets/Images/UIDevelopment.png">
      </div>
      <div class="serviceInfo">
        <!--Description-->
        <h1>Front End</h1>
        <br>
        <p>
          I bring your designs to life with precision and style, implementing stunning interactions and ensuring smooth
          transitions. I fuse creativity with code, delivering immersive
          user experiences.
        </p>
      </div>
    </div>

    <!--Simulator-->
    <div class="serviceBox">
      <!--Image-->
      <div class="serviceImage">
        <img src="/Assets/Images/GameDevelopment.jpg">
      </div>
      <div class="serviceInfo">
        <!--Description-->
        <h1>Game Development</h1>
        <br>
        <p>
          As an experienced game developer, I specialize in bringing unique ideas to life. Let me take your vision
          and transform it into a fully immersive and playable game, tailored to exceed your expectations.
        </p>
      </div>
    </div>

  </main>
<!-- Footer Section-->
  <%- include ('./partials/footer.ejs') %>